//ГОТОВЫЕ БЛОКИ=======================================================================================
@import 'basic/null';
@import 'basic/variables';


@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/social';
@import 'blocks/main';
@import 'blocks/footer';

.container {
	margin: 0 auto;
	width: 1200px;
	padding: 0 10px;
}

//ГОТОВЫЕ БЛОКИ=======================================================================================


//<Подключаем шрифты>=======================================================================================
//
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:regular&display=swap&subset=cyrillic-ext);


//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================

//@import "icons";

//</Иконочные шрифты>==========================================================================================


//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
html,
body {
	// height: 100%;
	color: #fff;
	background: linear-gradient(180deg, #070A1B 0%, #2A3170 100%);
	font-family: 'Roboto Condensed';
	font-size: 16px;
	font-weight: 400;
	line-height: 120%;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================


.divider {
	width: 60px;
	height: 3px;
	margin: 25px auto 0px auto;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================


//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
}
//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
