.btn {
	font-family: 'Corporate A';
	color: $title-color;
	font-weight: 700;
	font-size: 18px;
	line-height: 120%;
	border: 1px solid $title-color;
}
.title {
	font-family: 'Corporate A';
	font-weight: 700;
	color: $title-color;
	margin-bottom: 25px;
	font-size: 16px;
	line-height: 120%;
}
.main {
	padding: 150px 0px 0px 0px;
	&__concept {
		max-width: 900px;
		margin-left: auto;
		&-img {
			height: 500px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		&-title {
			font-size: 18px;
			margin: 0px 0px 25px 0px;
		}
		&-text {
			margin: 0px 0px 25px 0px;
			font-size: 24px;
			line-height: 120%;
		}
	}
	&__premier {
		margin-top: 150px;
		display: flex;
		justify-content: space-between;
		&-block {
			width: 570px;
		}
		&-img {
			width: 570px;
			height: 400px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		&-img2 {
			width: 570px;
			height: 665px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 50% 0 0 0;
			}
		}
		&-text {
			margin: 0px 0px 25px 0px;
		}
		&-text2 {
			margin: 21px 0px 0px 0px;
		}
		&-btn {
			margin: 25px 0px 0px 0px;
			width: 570px;
			height: 50px;
			transition: all .3s ease;
			&:hover {
				color: #53A1CB;
				border: 1px solid #53A1CB;
			}
		}
	}
	&__video {
		margin: 150px 0px 0px 0px;
		&-img {
			height: 600px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		&-btn {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 25px 0px 0px 0px;
			height: 50px;
			gap: 10px;
			width: 100%;
			transition: all .3s ease;
			span {
				padding: 2px 0px 0px 0px;
			}
			path {
				transition: all .3s ease;
			}
			&:hover {
				color: #53A1CB;
				border: 1px solid #53A1CB;
			}
			&:hover path {
				fill: #53A1CB;
			}
		}
	}
	&__interior {
		padding: 150px 0px 0px 0px;
		&-wrapper {
			display: grid;
			grid-template-columns: 255px 255px auto 310px;
			grid-template-rows:  auto auto;
			column-gap: 44px;
			row-gap: 94px;
		}
		&-column {
			grid-row: 1/3;
		}
		&-row {
			grid-column: 2/3;
		}
		&-img {
			width: 885px;
			height: 450px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		&-img2 {
			grid-column: 4/5;
			img {
				border-radius: 50% 0 50% 0;
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}
	}
	&__slider {
		position: relative;
		padding: 150px 0px 25px 0px;
		&-item {
			margin: 0px 30px;
		}
		.slick-track {
			margin-left: -10px;
		}
		.arrow-left, .arrow-right {
			position: absolute;
			bottom: 0;
			z-index: 100;
			left: 50%;
		}
		.arrow-right {
			transform: translateX(30px);
		}
		.arrow-left {
			transform: translateX(-83px);
		}
	}
	&__block-wrapper {
		padding: 150px 0px 0px 0px;
		display: grid;
		grid-template-columns: repeat(2, 255px);
		grid-auto-rows: auto;
		justify-content: center;
		gap: 60px;
	}
	&__car {
		margin: 150px 0px 0px 0px;
		background: url('../img/last-car.png') center (center / cover) no-repeat;
		min-height: calc(100vh - 100px);
	}
}